body { font-family: Arial; }
.contender {
    background-image: url(../../images/Desbest_Showdown/contenderback-top.png), url(../../images/Desbest_Showdown/contenderback-bottom.png), url(../../images/Desbest_Showdown/contenderback-middle.png);
    background-repeat: no-repeat, no-repeat, repeat;
    background-position: top, bottom, center;
    
    width: 341px;
    display: inline-block;
    margin-right: 8px;
    float: left;
}

.polaroid{
    width: 299px; height: 242px;
    border: 1px solid #cccccc; border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: white;
    text-align: center;
} .polaroid img { max-width: 300px; max-height: 200px; margin-top: 18px; }

.votebutton { margin-top: 16px; margin-left: 72px; margin-bottom: 32px; }
.voted { width: 50%; background-color: rgb(203,149,50); padding: 8px; text-align: center; color: white; font-size: 1.15em; }
.passage { margin: 0px 20px; font-size: 1em; font-size: 0.75em; min-height: 125px; }
.reviews { width: 326px; background-color: #e8e8e8; min-height: 100px; margin-left: 8px; margin-bottom: 30px; margin-top: 12px; font-size: 0.75em; } .reviews hr { color: #cccccc; }
.padme { padding: 12px; }
.contname { font-weight: bold; color: white; text-align: center; width: 100%; padding-top: 24px; }

div.statrow{width:100%;margin:0 auto;overflow:hidden;}
div.statcol{float:left;padding:0px;vertical-align:middle;overflow:hidden;text-align:left;}

.contname a:link, .contname a:visited, .contname a:visited { color: white; text-decoration: none; }

/* 
    Calendar */
.calendar {
   width: 196px;
   display: inline-block;
   border: 1px solid #d7d7d7;
   border-radius: 3px;
}
.calendar div {
   float: left;
   height: 29px;
   width: 26px;
   border: 1px solid #eaeaea;
   text-align: center;
   line-height: 2.35em;
}
.calendar .monheader {
   font-weight: bold;
   color: #FFFFFF;
   text-align: center;
   text-transform: uppercase;
   
   background-image: url(../../images/Desbest_Showdown/calendarheader2.png);
   width: 100%; height: 31px; line-height: 2.75em;
   
}
.calendar .dayheader {
   /* font-weight: bold; */
   font-size: 9px;
   color: #6d6d6d;
   text-align: center;
   height: 23px;
   background-color: white;
   border: 0px;
   line-height: 2.45em;
   text-transform: uppercase;
   width: 28px;
}
.calendar .day { background-color: white; }
.calendar .today {
   background-image: url(../../images/Desbest_Showdown/calendaron.png);
   color: white;
   /* background-color: #FFCC00; */
   border-color: #eaeaea;
}
.calendar .inactive { background-color: white; }
.calendar .disabled { background-color: #ededed; color: #a6a6a6; }

.day a:link, .day a:visited, .day a:visited { color: black; text-decoration: none; }
.today a:link, .today a:visited, .today a:visited { color: white; text-decoration: none; }